# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Service Accounts / Secrets
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.app.json
!tsconfig.spec.json
!firebase.json
!firestore.indexes.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
test.js.snap
/typings

# System Files
.DS_Store
Thumbs.db
