<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-white dark:bg-darkBg border-t border-gray-200 dark:border-glassBg">

    <ion-tab-button tab="news" href="/tabs/news"
      class="text-gray-500 dark:text-gray-400 [&.tab-selected]:text-neonBlue dark:[&.tab-selected]:text-neonBlue">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="telegram" href="/tabs/telegram"
      class="text-gray-500 dark:text-gray-400 [&.tab-selected]:text-neonPurple dark:[&.tab-selected]:text-neonPurple">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Telegram</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
